@font-face {
    font-family: customfonts;
    src: url(assets/fonts/MYRIADPRO-REGULAR.woff);
}

body {
    padding: 0;
    margin: 0;
    font-family: customfonts;
    box-sizing: border-box;

}

html {
    font-size: 68.5%;
}

/* utility color */
:root {
    --primary_bg_color: #b3d2e6;
    --primary_text_color: #b3d2e6;
    --secondary_text_color: #6b8fc2;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* utility color */


/* header start */

header {
    width: 100%;
    /* height: 3rem; */
    overflow: hidden;
    font-weight: normal;
}

.top__nav {
    background-color: var(--primary_bg_color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .fa-bars {
    display: none;
    font-size: 2rem;
    color: white;
    position: fixed;
    right: 3rem;
}

.main__logo h3 {
    color: white;
    font-weight: normal;
    font-size: 2rem;
}

.right__nav {
    display: flex;
    font-size: 1.5rem;
}

.right__nav ul {
    display: flex;
}

.right__nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0rem 1rem;
}

.right__nav ul li a {
    text-decoration: none;
    color: white;
}

.sign_in {
    background-color: white;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
}



.banner {
    width: 100%;
    background: url(assets/img/banner.jpg) no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    text-align: center;
    width: 50%;
}

.banner h3,
.banner p {
    margin: 0;
    padding: 0;
}

.banner h3 {
    margin: 0;
    font-size: 3rem;
    padding: 1rem 0;
    letter-spacing: 0.2rem;
}

.banner p {
    font-size: 2rem;
    color: var(--secondary_text_color);
}


/* cards start */
.cards {
    display: flex;
    background-color: var(--primary_bg_color);
    justify-content: space-around;
    padding: 0rem 5rem;
}

.card {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
}

.circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 5rem;
    height: 5rem;
    background-color: white;
    /* padding: 1rem; */
    margin-bottom: 5rem;
    border-radius: 50%;
}

.circle .fas {
    color: var(--primary_text_color);
    font-size: 2rem;
    padding: 1.5rem;
}

.card .content {
    margin-top: 7rem;
}

/* cards end */



/* header end */



/* section start */
.top__title {
    width: 100%;
    text-align: center;
}

.top__title h3 {
    margin: 0;
    padding: 4rem 0;
    color: var(--secondary_text_color);
    font-size: 2rem;
}

.section__one {
    width: 100%;
    display: flex;
    padding: 0rem 0rem 3rem 0rem;
}

.section__one .left__side {
    width: 50%;
    text-align: right;
    padding: 0rem 4rem 0rem 0rem;
}

.section__one .left__side img {
    width: 40%;
    height: auto;
}

.section__one .right__side {
    width: 50%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
}

.section__one .right__side .content {
    width: 40%;
}

.section__one .right__side .content h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section__one .right__side .content p {
    font-size: 1.3rem;
}

.section__one .right__side .content .btn__signup {
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background-color: var(--secondary_text_color);
    border-radius: 2rem;
    text-transform: uppercase;
}




.section__two {
    width: 100%;
    display: flex;
    padding: 0rem 0rem 0rem 0rem;
}

.section__two .left__side {
    width: 50%;
    text-align: right;
    padding: 0rem 4rem 0rem 0rem;
}

.section__two .left__side img {
    width: 70%;
    height: auto;
}

.section__two .right__side {
    width: 50%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
}

.section__two .right__side .content {
    width: 40%;
}

.section__two .right__side .content h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section__two .right__side .content p {
    font-size: 1.3rem;
}

.section__two .right__side .content .btn__signup {
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background-color: var(--secondary_text_color);
    border-radius: 2rem;
    text-transform: uppercase;
}

/* section end */


/* contact__form start */

.contact__form {
    width: 100%;
    background: rgba(41, 41, 41, 0.8) url(assets/img/03.jpg) no-repeat center;
    background-blend-mode: multiply;
    text-align: center;
}

.contact__form .top__title h3 {
    color: white;
}

.contact__form form {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 4rem;

}

.contact__form form .left__form {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex: 1;
}

.contact__form form .left__form input {
    position: relative;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 1.2rem;
    outline: none;
}

.contact__form form .right__form {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.contact__form form .right__form input,
.contact__form form .right__form textarea {
    position: relative;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 1.2rem;
    outline: none;
}

.contact__form form .right__form textarea {
    height: 5rem;
}

.contact__form form ::placeholder {
    font-size: 1.2rem;
    position: absolute;
    background-color: white;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    border-radius: 1rem;
    color: black;
}

.contact__form form .right__form button {
    width: fit-content;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    border: transparent;
}

/* contact__form end */


/* Footer start */


footer {
    background-color: var(--primary_bg_color);
    padding: 1rem;
}

.main__footer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main__footer .left {
    width: 10%;
}

footer .main__footer .left h3 {
    font-size: 2rem;
    margin-right: 1rem;
    padding: 0;
}

footer .main__footer .right {
    width: 50%;
}

footer .main__footer .right p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

/* Footer end */






/* media query */


@media (max-width:900px) {
    html {
        font-size: 55%;
    }

}

@media (max-width:550px) {
    html {
        font-size: 50%;
    }

    nav .fa-bars {
        display: block;
        z-index: 999;
    }

    nav .right__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 999;
        transition: 0.5s ease;
    }

    .responsive {
        right: 0% !important;
    }

    nav .right__nav ul {
        display: block;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
    }

    nav .right__nav ul li {
        padding: 1rem 0;
        font-size: 2rem;
    }

    nav .right__nav .sign_in {
        margin: 0;
        font-size: 2rem;
    }

    .banner__content {
        text-align: center;
        width: 80%;
    }

    .cards {
        flex-direction: column;
        padding: 1rem 3rem;
    }

    .card {
        padding: 1rem 0rem;
    }

    .section__one {
        width: 100%;
        flex-direction: column;
    }

    .section__one .left__side {
        padding: 0rem;
        width: 100%;
        text-align: center;
    }

    .section__one .left__side img {
        width: 35%;
        height: auto;
    }

    .section__one .right__side {
        width: 70%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .section__one .right__side .content {
        width: 100%;
    }

    .section__one .right__side .content .btn__signup {
        width: fit-content;
        margin: 0 auto;
    }



    .section__two {
        width: 100%;
        flex-direction: column;
    }

    .section__two .left__side {
        padding: 0rem;
        width: 100%;
        text-align: center;
    }

    .section__two .left__side img {
        width: 50%;
        height: auto;
    }

    .section__two .right__side {
        width: 70%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .section__two .right__side .content {
        width: 100%;
    }

    .section__two .right__side .content .btn__signup {
        width: fit-content;
        margin: 1rem auto;
    }

    .contact__form form {
        flex-direction: column;
        width: 80%;
        padding-bottom: 4rem;
    }


    .contact__form form input {
        width: 100%;
    }


    .contact__form form ::placeholder {
        text-align: center;
        padding: 0.8rem 1rem;
        width: 8rem;
    }

    .contact__form form .left__form {
        margin: 0;
    }



    .main__footer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .main__footer .left {
        width: 20%;
    }

    footer .main__footer .left h3 {
        font-size: 2rem;
        margin-right: 1rem;
        padding: 0;
    }

    footer .main__footer .right {
        width: 70%;
    }

    footer .main__footer .right p {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }



}


/* media query */